<% content_for(:navbar) do %>
  <ul>
    <li><a href="/courses">Home</a></li>
    <% unless @week.id == Week.first.id %>
      <li> <%= link_to 'Previous', @week.previous  %></li>
    <% end %>
  </ul>
<% end %>

<h1><%= @week.title %> Page</h1>


<ul>
  <% @week.lessons.each do |lesson| %>
  <li><%= lesson.title %> | <%= link_to "View Lesson", week_lesson_path(@week, lesson) %></li>
  <% end %>
</ul>


<%= link_to "Edit", edit_course_week_path(@course, @week) %> | <%= link_to "Delete", week_path(@week), :data => {:confirm => "You Sure?", :method => 'delete'} %> | <%= link_to "Add a Lesson", new_week_lesson_path(@week) %>
<hr>
<%= link_to "Back to Course Page", course_path(@course) %>
