<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @lesson.content %>
</p>

<p>
  <strong>Week:</strong>
  <%= @lesson.week.title%>
</p>

<%= link_to 'Edit', edit_week_lesson_path(@lesson) %> |
<%= link_to 'Delete', week_lesson_path(@lesson),:data => {:confirm => "You sure?", :method => 'delete'} %> |
<%= link_to 'Back', week_path %>
