<h1><%= @course.title %> Page</h1>

<ol>
  <% @weeks.each do |week| %>
  <li><%= week.title %> | <%= link_to "View Week", course_week_path(@course, week) %></li>
  <% end %>
</ol>

<%= link_to "Edit", edit_course_path(@course) %> | <%= link_to "Delete", course_path(@course), :data => {:confirm => "You Sure?", :method => 'delete'} %> | <%= link_to "Add a Week", new_course_week_path(@course) %>
<hr>
<%= link_to "Back to Homepage", courses_path %>
